# Sauce demo
SAUCE_DEMO_URL=https://www.saucedemo.com
SAUCE_DEMO_USERNAME=your_username
SAUCE_DEMO_PASSWORD=your_password

# OrangeHRM OpenSource demo
OPENSOURCE_URL=https://opensource-demo.orangehrmlive.com/web/index.php/auth/login
OPENSOURCE_USERNAME=your_username
OPENSOURCE_PASSWORD=your_password

# Snack Attack demo
SNACK_URL=https://snackattack.deployedprojects.xyz/
SNACK_USERNAME=your_username
SNACK_PASSWORD=your_password